body {
  background:#f2f2f2;
  font-family: Arial, sans-serif;
}

.card {
  background:#fff;
  width:90%;
  max-width:350px;
  margin:50px auto;
  padding:20px;
  text-align:center;
  border-radius:12px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

img {
  width:200px;
  border-radius:10px;
}

.btn {
  display:block;
  margin-top:20px;
  padding:12px;
  background:#25d366;
  color:white;
  text-decoration:none;
  border-radius:8px;
  font-size:18px;
}
